.table_container table{
    overflow-x: auto;
}

.table_container thead tr th{
    overflow: auto;
    resize: horizontal;
}
.table_container thead tr th span{
    display: block;
    width: 100px;
}

.table_container{
    display: flex;
    overflow:scroll;
}

.table_container table{
    flex: 0 0 auto;
}
.table_container table tbody span{
    display: block;
    width: 134px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}